.about {
    margin-top: 120px;
    margin-bottom: 32px;
    width: 100%;
}

.svd2 {
    margin-bottom: 71px;
}

.svd3 {
    float: right;
    margin-right: 110px;
    margin-top: 9px;
}

.list__6 {
    max-width: 372px;
    font-size: 32px;
    line-height: 37.44px;
    width: 100%;
    margin-bottom: 27px;
    float: right;
    margin-right: 100px;
    transition: 0.2s ease-in-out;
}

.list__7 {
    max-width: 400px;
    font-size: 18px;
    line-height: 21.87px;
    width: 100%;
    margin-bottom: 27px;
    float: right;
    margin-right: 70px;
}

.list__8 {
    max-width: 400px;
    font-size: 32px;
    line-height: 37.44px;
    width: 100%;
    margin-bottom: 0px;
}

.list__6:hover {
    color :blueviolet;
}